<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/styleH.css">
    <link href="https://fonts.googleapis.com/css2?family=Saira&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Gustavo Almeida - Portfólio</title>
</head>

<body>

    <div>
        <%- include('partials/header') %>
            <section id="habilidades" class="skills">
                <h1 class="titles">Habilidades</h1>
                <div class="Box">
                    <h1 class="subtitles">Programação</h1>
                    <% programacao.forEach(h=> { %>
                        <div class="badge">
                            <img src="<%= h.icone %>" alt="<%= h.nome %>" class="icon">
                            <span>
                                <%= h.nome %>
                            </span>
                        </div>
                        <% }) %>

                            <h1 class="subtitles">Ferramentas</h1>
                            <% ferramentas.forEach(h=> { %>
                                <div class="badge">
                                    <img src="<%= h.icone %>" alt="<%= h.nome %>" class="icon">
                                    <span>
                                        <%= h.nome %>
                                    </span>
                                </div>
                                <% }) %>
                </div>
            </section>
    </div>
    <div>
        <section id="projetos" class="projects">
            <h1 class="titles">Projetos - FATEC</h1>
            <div class="pj1">
                <div class="Box Proj">
                    <h2 class="subtitles">API - Página de Vereadores</h2>
                    <p class="text">Projeto feito durante periodo eleitoral com o intuito de melhorar a visão geral dos
                        vereadores da cidade de São José dos Campos. O usuário pode utilizar diversos filtros para poder comparar os canditados a vereador, e encontra informações de forma mais clara.</p
                   a href="https://github.com/nicolygz/the-devs-department" target="_blank" class="links email-btn"><i
                            class="fa-solid fa-likn"></i> Link do Repositório</a>
                </div>

                <div class="Box Proj">
                    <h2 class="subtitles">API - Helpnei</h2>
                    <p class="text">O Projeto realizado em parceria com a Helpnei. O objeto dado foi desenvolver uma
                        unica página com dashboards contendo informações de diferente empresas patrocinadoras, e também,
                        realizar cadastro de usuários para que ele possa escolher qual empresa ele deseja ser
                        patrocinado.</p>
                    <a href="https://github.com/the-devs-department/helpnei" target="_blank" class="links email-btn"><i
                            class="fa-solid fa-likn"></i> Link do
                        Repositório</a>
                </div>

                <div class="Box Proj">
                    <h2 class="subtitles">API - GSW TaskManager</h2>
                    <p class="text">Projeto realizado em parceria com a empresa GSW, que nos deu o objetivo de desenvolver uma aplicação web capaz de realizar o gerenciamento de tarefas de uma equipe. Ao usuário criar uma equipe, ele vira administrador da equipe, e tem o acesso liberado ao log de tarefas, onde poderá ver todos os registros de ações das tarefas, e também tem o acesso a todas as tarefas daquela equipe.</p>
                    <a href="https://github.com/the-devs-department/GSW-2025.2-3Sem" target="_blank" class="links email-btn"><i class="fa-solid fa-likn"></i> Link do Repositório</a>
                </div>
            </div>
        </section>
    </div>

    <div>
        <section>
            <h1 class="titles">Projetos - Outros</h1>
            <div class="Box Proj">
                    <h2 class="subtitles">TCC - Jogo "History of a Nation"</h2>
                    <img src="/images/HoN.png" alt="" class="imgp">
                    <p class="text">Jogo feito como projeto de TCC do curso Técnico de Informática pelo joseense. O jogo
                        conta a história de um robô que tem a missão de recuperar alguns artefatos históricos após o
                        incêndio do Museu Nacional de História do Rio De Janeiro.</p>
          </div>
        </section>
    </div>


    <!-- Cursos -->

    <div>
        <section class="cursos" id="cursos">
            <h1 class="titles">Cursos</h1>
            <div class="infocurso">

                <div class="Box Course">
                    <div class="TitleC">
                        <div class="badgeC">
                            <img src="/images/unity.png" alt="" class="iconC">
                            <span>Desenvolvimento de Jogos - Em andamento</span>
                        </div>
                        <p class="text">Aprendizado do Curso:</p>
                        <p class="text">Programação para jogos | Criação de movimentos em personagens | Programação e
                            animações para diferentes ações | Criação de áudios para jogos | Exportação e publicação | E
                            muito mais!</p>
                        <a href="https://alunos.crieseusjogos.com.br/pt-br/club/csj-digital/products/1553177?access_source=hub_home_product_card"
                            target="_blank" class="links email-btn"><i class="fa-solid fa-link"></i> Link do Curso</a>
                    </div>
                </div>

                <div class="Box Course">
                    <div class="TitleC">
                        <div class="badgeC">
                            <img src="/images/python.png" alt="" class="iconC">
                            <span>Curso de Python - Em andamento</span>
                        </div>
                        <p class="text">Aprendizado do Curso:</p>
                        <p class="text">Python Básico | Python Avançado | Programação orientada a objetos | Interfaces
                            Gráficas | Manipulação de Arquivos | E muito mais!</p>
                        <a href="https://mais.ifmg.edu.br/maisifmg/" target="_blank" class="links python-btn"><i
                                class="fa-solid fa-link"></i> Link do Curso</a>
                    </div>
                </div>

                <div class="Box Course">
                    <div class="TitleC">
                        <div class="badgeC">
                            <img src="/images/c-sharp.png" alt="" class="iconC">
                            <span>Curso C# - Em andamento</span>
                        </div>
                        <p class="text">Aprendizado do Curso:</p>
                        <p class="text">Compreensão aprofundada de C# | Escreva código C# de alto desempenho e eficiente
                            | Princípios da programação orientada a objetos | Aprenda padrões de projeto essenciais |
                            Código limpo, de fácil manutenção e de excelente qualidade | Prepare-se com confiança para
                            entrevistas de emprego em C# | E muito mais!</p>
                        <a href="https://www.udemy.com/course/ultimate-csharp-masterclass/" target="_blank"
                            class="links email-btn"><i class="fa-solid fa-link"></i> Link do Curso</a>

                    </div>
                </div>

                <div class="Box Course">
                    <div class="TitleC">
                        <div class="badgeC">
                            <img src="/images/programacao.png" alt="" class="iconC">
                            <span>Desenvolvimento Full Stack - Em andamento</span>
                        </div>
                        <p class="text">Aprendizado do Curso:</p>
                        <p class="text">HTML | CSS | Bootstrap | JavaScript(Básico a Avançado) | Node.js & Express.js| Database | React.js | Desenvolvendo seu próprio API |E muito mais!</p>
                        <a href="https://alunos.crieseusjogos.com.br/pt-br/club/csj-digital/products/1553177?access_source=hub_home_product_card"
                            target="_blank" class="links email-btn"><i class="fa-solid fa-link"></i> Link do Curso</a>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <div>
        <section class="contato" id="contato">
            <h1 class="titles">Contato</h1>
            <div class="pj1">
                <div class="Box Cont">
                    <div class="topo">
                        <img src="/images/github.png" alt="" class="TImg">
                        <span class="subtitles">GitHub</span>
                    </div>

                    <div class="conte">
                        <p class="text">Aqui você irá encontrar alguns repositórios com algumas atividades e projetos
                            meus!</p>
                        <a href="https://github.com/GustavoAC0802" class="links git-btn" target="_blank"><i
                                class="fa-solid fa-link"></i> Link do
                            perfil</a>
                    </div>
                </div>

                <div class="Box Cont">
                    <div class="topo">
                        <img src="/images/gmail.png" alt="" class="TImg">
                        <span class="subtitles">Email</span>
                    </div>

                    <div class="conte">
                        <p class="text">Você pode me enviar um email, ou enviar um formulário para tratar de qualquer
                            assunto!</p>
                        <div class="Cont-BTN">
                            <a href=https://mail.google.com/mail/?view=cm&fs=1&to=gua7422@gmail.com&su=Assunto&body=Olá!"
                                target="_blank" class=" links email-btn">
                                <i class="fa-solid fa-share"></i> Enviar Email
                            </a>
                        </div>

                    </div>
                </div>

                <div class="Box Cont">
                    <div class="topo">
                        <img src="/images/linkle.png" alt="" class="TImg">
                        <span class="subtitles">LinkedIn</span>
                    </div>

                    <div class="conte">
                        <p class="text"> Você encontrará um breve resumo sobre mim, minhas competências e formações
                            acadêmicas!</p>
                        <a href="https://www.linkedin.com/in/gustavo-almeida-camargo/" target="_blank"
                            class="links linkd-btn"><i class="fa-solid fa-link"></i> Link do perfil</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include('partials/footer') %>

</body>

</html>